secrets.h
fallout-terminal-pyportal/sdcard/config.json
fallout-terminal-pyportal/sdcard/config.jsn
fallout-terminal-pyportal/sdcard/robco

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.*~
