#pragma once

#define WIFI_SSID      "YOUR_SSID"
#define WIFI_PASSWORD  "YOUR_PASSWORD"
#define MQTT_HOST      "homeassistant.local"
#define MQTT_PORT      1883
#define MQTT_USER      ""
#define MQTT_PASS      ""
